<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold-text-danger">VIEW CONTACT</p>
            <p class="fst-italic">See Your Contact Details Here</p>
        </div>
    </div>
</div>

<!--Contact details-->
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img alt="" src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png" class="contact-img-big">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name : <span class="fw-bold"> Akash </span> </li>
                <li class="list-group-item list-group-item-danger">Email : <span class="fw-bold"> Akash@gmail.com </span> </li>
                <li class="list-group-item list-group-item-danger">Mobile : <span class="fw-bold"> +91 9594189844 </span> </li>
                <li class="list-group-item list-group-item-danger">Company : <span class="fw-bold"> Akash </span> </li>
                <li class="list-group-item list-group-item-danger">Title : <span class="fw-bold"> Akash@gmail.com </span> </li>
                <li class="list-group-item list-group-item-danger">Group Name : <span class="fw-bold"> +91 9594189844 </span> </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="/" class="btn btn-danger"> 
               <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    </div>
</div>